footer {
    background-color: #ffe8b4;
    z-index: 0;
    position:  fixed;
    width: 100%;

}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0PX 8% 24PX 8%;
    align-items: center;
}

#copyright {
    color: #1d1d1d
}

.footerimg {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
}